<h1>task新規登録ページ</h1>

<%= form_with(model: @task, local: true) do |f| %>
  <%= f.label :content, 'task' %>
  <%= f.text_field :content %>

  <%= f.submit 'taskに追加' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>